[main]
repos = /home/user/awfy/x64/repos
benchmarks = /home/user/awfy/x64/benchmarks
cpu = x64
machine = 29
updateURL = http://10.194.202.84/UPDATE.php/
slaves = a
modes = headless

[native]
cc = /Users/kmao/awfy/clang-3.3/bin/clang
cxx = /Users/kmao/awfy/clang-3.3/bin/clang++
options = -O2
mode = clang

[a]
remote = 1
hostname = 10.239.44.20
repos = /home/user/awfy/x64/repos
benchmarks = /home/user/awfy/x64/benchmarks
driver = /home/user/awfy/x64/driver
cpu = x64
machine = 1
modes = headless


[headless]
source = chromium-2/src
cc = /Users/kmao/awfy/clang-3.3/bin/clang
cxx = /Users/kmao/awfy/clang-3.3/bin/clang++
cpp = /Users/kmao/awfy/clang-3.3/bin/clang -E
link = /Users/kmao/awfy/clang-3.3/bin/clang++
cc_host = /Users/kmao/awfy/clang-3.3/bin/clang
cxx_host = /Users/kmao/awfy/clang-3.3/bin/clang++
cpp_host = /Users/kmao/awfy/clang-3.3/bin/clang -E
link_host = /Users/kmao/awfy/clang-3.3/bin/clang++

[jsc]
source = WebKit

[jsci]
source = InterpKit

[mi]
source = mozilla-inbound
conf = CC="/Users/kmao/awfy/clang-3.3/bin/clang" CXX="/Users/kmao/awfy/clang-3.3/bin/clang++" AR=ar ../configure --enable-optimize --disable-debug --enable-threadsafe --disable-intl-api --without-intl-api
