[main]
repos = /home/user/awfy/x64/repos
benchmarks = /home/user/awfy/x64/benchmarks
cpu = arm
machine = 29
updateURL = http://ssgs3-test.sh.intel.com/UPDATE.php/
slaves = a
modes = headless

[native]
options = -O2
mode = gcc
cc = gcc
cxx = g++

[a]
remote = 1
hostname = user@awfy-arm-spd.sh.intel.com
repos = /home/user/awfy/x64/repos
benchmarks = /home/user/awfy/x64/benchmarks
driver = /home/user/awfy/x64/driver
cpu = arm
machine = 3
modes = headless


[headless]
source = chromium-arm/src

