[main]
repos = /home/user/work/repos/compressed-pointer/x64
benchmarks = /home/user/work/awfy/benchmarks
cpu = x64
machine = 0
updateURL = http://ssgs5-test.sh.intel.com/UPDATE.php/
slaves = cyan
modes = headless-patch

[native]
options = -O2
mode = gcc
cc = gcc
cxx = g++

[cyan]
remote = 1
hostname = user@x64-cyan.sh.intel.com
repos = /home/user/work/repos/compressed-pointer/x64
benchmarks = /home/user/work/awfy/benchmarks
driver = /home/user/work/awfy/driver
cpu = x64
machine = 13
modes = headless-patch
python = python
includes = speedometer2,jetstream2

[headless-patch]
source = chromium/src

