[main]
repos = /home/user/work/awfy/repos
benchmarks = /home/user/work/awfy/benchmarks
cpu = x64
machine = 0
updateURL = http://user-awfy.sh.intel.com/awfy/UPDATE.php
slaves = atom2
modes = v8-default-x64,v8-turbofan-x64

[native]
options = -O2
cc = gcc
cxx = g++
mode = gcc

[v8]
source = v8

[v8-default-x64]

[v8-turbofan-x64]
arg1 = --turbo

[atom2]
machine = 7
hostname = atom-nuc-2.sh.intel.com
repos = /home/user/work/awfy/repos
benchmarks = /home/user/work/awfy/benchmarks
driver = /home/user/work/awfy/driver
python = python
