[submodule "benchmarks/ARES-6"]
	path = benchmarks/ARES-6
	url = https://github.com/bmeurer/ARES-6.git
[submodule "benchmarks/jetstream2-d8"]
	path = benchmarks/jetstream2-d8
	url = https://github.com/intel-sandbox/jetstream2-d8.git
[submodule "webxprt3"]
	path = website/ARCworkloads/webxprt3
	url = https://github.com/intel-sandbox/webxprt3-wot.git
	branch = jstc
[submodule "headless-jetstream2"]
	path = benchmarks/jetstream2
	url = https://github.com/intel-sandbox/jetstream2-wot.git
	branch = headless
[submodule "headless-webxprt4"]
	path = benchmarks/webxprt4
	url = https://github.com/intel-sandbox/webxprt4.git
	branch = headless
[submodule "webxprt4-d8"]
	path = benchmarks/Webxprt4-cases-d8-port
	url = https://github.com/intel-sandbox/Webxprt4-cases-d8-port.git
	branch = awfy
[submodule "headless-webxprt3"]
	path = benchmarks/webxprt3
	url = https://github.com/intel-sandbox/webxprt3-wot.git
	branch = jstc-headless
[submodule "headless-speedometer2"]
	path = benchmarks/speedometer
	url = https://github.com/intel-sandbox/speedometer2-wot.git
	branch = headless
