[main]
target_os = win64
repos = /home/user/work/repos/win64-v8/x64
benchmarks = /home/user/work/awfy/benchmarks
cpu = x64
machine = 0
updateURL = http://ssgs5-test.sh.intel.com:8000/UPDATE.php
slaves = 9900k
host = win-server.sh.intel.com
port = 8781
modes = v8-turbofan-x64,v8-turbofan-x64-future,v8-turbofan-x64-sp
remote_build = true

[build]
repos = d:\awfy\v8
driver = c:\work\awfy\driver
hostname = awfy@win-server.sh.intel.com

[native]
options = -O2
cc = gcc
cxx = g++
mode = gcc

[v8-win64]
source = v8

[v8-default-x64]
arg1 = --no-turbo

[v8-turbofan-x64]

[v8-turbofan-x64-future]
arg1 = --future

[v8-turbofan-x64-sp]
arg1 = --sparkplug

[v8-turbofan-x64-a-sp]
arg1 = --always_sparkplug

[9900k]
machine = 21
hostname = test@9900k-win64.sh.intel.com
repos = c:\work\repos\win64-v8\x64
benchmarks = c:\work\awfy\benchmarks
driver = c:\work\awfy\driver
python = python
includes = octane,WebTooling,ARES6,Jetstream2D8