[main]
target_os = win64
build_repos = d:\src\v8
repos = /home/user/work/repos/win64-v8/x64
benchmarks = /home/user/work/awfy/benchmarks
cpu = x64
machine = 0
updateURL = http://ssgs5-test.sh.intel.com:8000/UPDATE.php
slaves = 9700
host = ssgs3-test.sh.intel.com
port = 8781
build_host = ssgs3@ssgs3-test.sh.intel.com
modes = v8-turbofan-x64--future

[native]
options = -O2
cc = gcc
cxx = g++
mode = gcc

[v8-win64]
source = v8

[v8-default-x64]
arg1 = --no-turbo

[v8-turbofan-x64--future]
arg1 = --future

[9700]
machine = 20
hostname = test@9700-win64.sh.intel.com
repos = c:\work\repos\win64-v8\x64
benchmarks = c:\work\awfy\benchmarks
driver = c:\work\awfy\driver
python = python
includes = octane,WebTooling,ARES6,Jetstream2D8
