[main]
repos = /home/user/work/repos/v8/x64
benchmarks = /home/user/work/awfy/benchmarks
cpu = x64
machine = 0
updateURL = http://ssgs5-test.sh.intel.com:8000/UPDATE.php
slaves = 3800x
modes = v8-turbofan-x64

[native]
options = -O2
cc = gcc
cxx = g++
mode = gcc

[v8]
source = v8

[v8-default-x64]
arg1 = --no-turbo

[v8-turbofan-x64]

[3800x]
machine = 17
hostname = test@jstc-3800x.sh.intel.com
repos = /home/user/work/repos/v8/x64
benchmarks = /home/user/work/awfy/benchmarks
driver = /home/user/work/awfy/driver
python = python
includes = octane,WebTooling,ARES6,Jetstream2D8
