[main]
target_os = win64
repos = /home/user/work/repos/win64-chrome/x64
benchmarks = /home/user/work/awfy/benchmarks
cpu = x64
machine = 0
updateURL = http://ssgs5-test.sh.intel.com:8000/UPDATE.php/
slaves = 3900x
host = win-server.sh.intel.com
port = 8781
modes = headless,headless-future,headless-sp
remote_build = true

[build]
name = win-server
repos = d:\awfy
driver = c:\work\awfy\driver
hostname = awfy@win-server.sh.intel.com

[native]
options = -O2
mode = gcc
cc = gcc
cxx = g++

[3900x]
remote = 1
hostname = test@3900x-win64.sh.intel.com
repos = c:\work\repos\win64-chrome\x64
benchmarks = c:\work\awfy\benchmarks
driver = c:\work\awfy\driver
cpu = x64
machine = 22
modes = chromium-win64
python = python
includes = speedometer2,jetstream2,webxprt3

[chromium-win64]
source = chromium\src

[headless]

[headless-future]
arg1 = --future

[headless-sp]
arg1 = --sparkplug

[headless-a-sp]
arg1 = --always_sparkplug
