[main]
repos = /home/user/work/awfy/repos
benchmarks = /home/user/work/awfy/benchmarks
cpu = x64
machine = 1
updateURL = http://user-atom.sh.intel.com/awfy/UPDATE.php
slaves = hsw,slm

[native]
options = -O2
cc = gcc
cxx = g++
mode = gcc

[v8]
source = v8

[hsw]
remote = 0
machine = 1

[slm]
machine = 2
hostname = kz-nuc2.sh.intel.com
repos = /home/user/work/awfy/repos
benchmarks = /home/user/work/awfy/benchmarks
driver = /home/user/work/awfy/driver
python = python
