[main]
repos = /home/user/work/awfy/repos
benchmarks = /home/user/work/awfy/benchmarks
cpu = arm
machine = 1
updateURL = http://hsw-nuc.sh.intel.com/awfy/UPDATE.php
flags = hardfp
slaves = chromebook

[native]
options = -O2
cc = gcc
cxx = g++
mode = gcc

[v8]
source = v8

[chromebook]
machine = 3
hostname = user@10.239.44.65
repos = /home/user/work/awfy/repos
benchmarks = /home/user/work/awfy/benchmarks
driver = /home/user/work/awfy/driver
python = python
