[main]
repos = /home/user/work/awfy/repos
benchmarks = /home/user/work/awfy/benchmarks
cpu = x64
machine = 1
updateURL = http://10.239.158.123/awfy/UPDATE.php
slaves = hsw,slm

[native]
options = -O2
cc = gcc
cxx = g++
mode = gcc

[v8]
source = v8

[hsw]
remote = 0
machine = 1

[slm]
machine = 2
hostname = 10.239.10.25
repos = /home/user/work/awfy/repos
benchmarks = /home/user/work/awfy/benchmarks
driver = /home/user/work/awfy/driver
python = python
