[main]
repos = /home/user/work/repos/jsc/base
benchmarks = /home/user/work/awfy/benchmarks
cpu = x64
machine = 0
updateURL = http://ssgs5-test.sh.intel.com:8000/UPDATE.php
slaves = hsw
modes = jsc-x64
host = ssgs5-test.sh.intel.com
port = 8912
remote_build = true

[build]
ssh_port = 2222
rsync = false
pull = false
repos = /repos/jsc/base
driver = /awfy/driver
hostname = root@ssgs5-test.sh.intel.com

[native]
options = -O2
cc = gcc
cxx = g++
mode = gcc

[jsc]
source = webkit

[hsw]
machine = 16
hostname = user@hsw-nuc.sh.intel.com
repos = /home/user/work/repos/jsc/base
benchmarks = /home/user/work/awfy/benchmarks
driver = /home/user/work/awfy/driver
python = python
includes = octane,WebTooling,ARES6,Jetstream2D8
